.school {
    transition: all 0.3s ease;
    border-bottom: 2px solid rgb(248, 249, 250);
    color: rgb(248, 249, 250);
    text-decoration: none;
}

.school:hover {
    transition: all 0.3s ease;
    border-bottom: 2px dotted;
}

.department {
    transition: all 0.3s ease;
    border-bottom: 2px solid rgb(248, 249, 250);
    color: rgb(248, 249, 250);
    text-decoration: none;
}

.department:hover {
    transition: all 0.3s ease;
    border-bottom: 2px dotted;
}

.creator-name {
    border: 2px solid rgb(248, 249, 250);
    border-radius: 20px;
    transition: all 0.3s ease;
    color: rgb(248, 249, 250);
    text-decoration: none;
}

.creator-name:hover {
    border-radius: 5px;
    transition: all 0.3s ease;
}